<phpunit
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <testsuites>
        <testsuite>
            <directory prefix="test-" suffix=".php">./ultimate-blogroll/</directory>
        </testsuite>
    </testsuites>
</phpunit>